
#u5584 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u5585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5585 {
  position:absolute;
  left:1690px;
  top:7728px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5586 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u5587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5587 {
  position:absolute;
  left:1762px;
  top:7726px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5588 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5589 {
  position:absolute;
  left:1921px;
  top:7763px;
  width:47px;
  height:47px;
}
#u5590 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u5591 {
  position:absolute;
  left:1917px;
  top:7807px;
  width:55px;
  height:29px;
}
#u5592 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:1px;
}
#u5593 {
  position:absolute;
  left:1935px;
  top:8001px;
  width:55px;
  height:1px;
}
#u5594 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:78px;
}
#u5595 {
  position:absolute;
  left:1618px;
  top:7768px;
  width:111px;
  height:78px;
}
#u5596 {
  position:absolute;
  left:2px;
  top:31px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:77px;
}
#u5597 {
  position:absolute;
  left:1632px;
  top:7972px;
  width:95px;
  height:77px;
}
#u5598 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:77px;
}
#u5599 {
  position:absolute;
  left:1632px;
  top:8074px;
  width:95px;
  height:77px;
}
#u5600 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5601 {
  position:absolute;
  left:1750px;
  top:7881px;
  width:157px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5602 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5603 {
  position:absolute;
  left:1926px;
  top:7869px;
  width:47px;
  height:47px;
}
#u5604 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u5605 {
  position:absolute;
  left:1922px;
  top:7913px;
  width:55px;
  height:29px;
}
#u5606 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5607 {
  position:absolute;
  left:1753px;
  top:7982px;
  width:157px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5608 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5609 {
  position:absolute;
  left:1929px;
  top:7970px;
  width:47px;
  height:47px;
}
#u5610 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u5611 {
  position:absolute;
  left:1925px;
  top:8014px;
  width:55px;
  height:29px;
}
#u5612 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5613 {
  position:absolute;
  left:1753px;
  top:8086px;
  width:157px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5614 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5615 {
  position:absolute;
  left:1929px;
  top:8079px;
  width:47px;
  height:47px;
}
#u5616 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u5617 {
  position:absolute;
  left:1925px;
  top:8123px;
  width:55px;
  height:29px;
}
#u5618 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:77px;
}
#u5619 {
  position:absolute;
  left:1631px;
  top:8172px;
  width:95px;
  height:77px;
}
#u5620 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5621 {
  position:absolute;
  left:1755px;
  top:8184px;
  width:157px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5622 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5623 {
  position:absolute;
  left:1931px;
  top:8172px;
  width:47px;
  height:47px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u5625 {
  position:absolute;
  left:1927px;
  top:8216px;
  width:55px;
  height:29px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5627 {
  position:absolute;
  left:1744px;
  top:7809px;
  width:114px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5628 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5629 {
  position:absolute;
  left:1611px;
  top:7851px;
  width:375px;
  height:1px;
  opacity:0.5;
}
#u5630 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5631 {
  position:absolute;
  left:1611px;
  top:7959px;
  width:375px;
  height:1px;
  opacity:0.5;
}
#u5632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5633 {
  position:absolute;
  left:1611px;
  top:8063px;
  width:375px;
  height:1px;
  opacity:0.5;
}
#u5634 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5635 {
  position:absolute;
  left:1611px;
  top:8162px;
  width:375px;
  height:1px;
  opacity:0.5;
}
#u5636 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5637 {
  position:absolute;
  left:1749px;
  top:7918px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5638 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5639 {
  position:absolute;
  left:1753px;
  top:8019px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5640 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5641 {
  position:absolute;
  left:1753px;
  top:8127px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5642 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5643 {
  position:absolute;
  left:1755px;
  top:8218px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5644 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u5646 {
  position:absolute;
  left:1927px;
  top:7683px;
  width:140px;
  height:140px;
}
#u5647 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u5648 {
  position:absolute;
  left:1970px;
  top:7821px;
  width:57px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5650 {
  position:absolute;
  left:1666px;
  top:11017px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5651 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
